---
layout: default
title: Resources
---

<section class="container about">
  <h1>Resources on Product Design</h1>
  <p>This is a list of some of my favorite resources around the topic of product design. It includes books, talks, essays and articles on the best practices, theories and principles of designing for digital platforms. Add to this list by submitting a pull-request on <a href="https://github.com/drocarmo/resources" target="_blank">github</a>.</p>

  <!-- Approach -->
  <section class="posts">
    <h2>Approach</h2>
    {% for approach in site.data.approach %}
      <div class="post">
        <p>
          <a href="{{ approach.url }}" target="_blank">{{ approach.title }}</a>
        </p>
        <h4 class="date">{{ approach.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Copy -->
  <section class="posts">
    <h2>Copywriting</h2>
    {% for copy in site.data.copy %}
      <div class="post">
        <p>
          <a href="{{ copy.url }}" target="_blank">{{ copy.title }}</a>
        </p>
        <h4 class="date">{{ copy.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Films -->
  <section class="posts">
    <h2>Films</h2>
    {% for film in site.data.films %}
      <div class="post">
        <p>
          <a href="{{ film.url }}" target="_blank">{{ film.title }}</a>
        </p>
        <h4 class="date">{{ film.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Grid -->
  <section class="posts">
    <h2>Grids</h2>
    {% for grid in site.data.grids %}
      <div class="post">
        <p>
          <a href="{{ grid.url }}" target="_blank">{{ grid.title }}</a>
        </p>
        <h4 class="date">{{ grid.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Development -->
    <section class="posts">
    <h2>Development</h2>
    {% for development in site.data.development %}
      <div class="post">
        <p>
          <a href="{{ development.url }}" target="_blank">{{ development.title }}</a>
        </p>
        <h4 class="date">{{ development.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Development (iOS) -->
    <section class="posts">
    <h2>Development (iOS)</h2>
    {% for ios in site.data.ios %}
      <div class="post">
        <p>
          <a href="{{ ios.url }}" target="_blank">{{ ios.title }}</a>
        </p>
        <h4 class="date">{{ ios.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Interaction Design -->
    <section class="posts">
    <h2>Interaction Design</h2>
    {% for interaction in site.data.interactions %}
      <div class="post">
        <p>
          <a href="{{ interaction.url }}" target="_blank">{{ interaction.title }}</a>
        </p>
        <h4 class="date">{{ interaction.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Interface/Visual Design -->
    <section class="posts">
    <h2>Interface & Visual Design</h2>
    {% for interface in site.data.interfaces %}
      <div class="post">
        <p>
          <a href="{{ interface.url }}" target="_blank">{{ interface.title }}</a>
        </p>
        <h4 class="date">{{ interface.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Mobile -->
    <section class="posts">
    <h2>Mobile</h2>
    {% for mobile in site.data.mobile %}
      <div class="post">
        <p>
          <a href="{{ mobile.url }}" target="_blank">{{ mobile.title }}</a>
        </p>
        <h4 class="date">{{ mobile.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Principles -->
    <section class="posts">
    <h2>Principles</h2>
    {% for principle in site.data.principles %}
      <div class="post">
        <p>
          <a href="{{ principle.url }}" target="_blank">{{ principle.title }}</a>
        </p>
        <h4 class="date">{{ principle.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Process -->
    <section class="posts">
    <h2>Process</h2>
    {% for process in site.data.process %}
      <div class="post">
        <p>
          <a href="{{ process.url }}" target="_blank">{{ process.title }}</a>
        </p>
        <h4 class="date">{{ process.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Talks -->
  <section class="posts">
    <h2>Talks</h2>
    {% for talk in site.data.talks %}
      <div class="post">
        <p>
          <a href="{{ talk.url }}" target="_blank">{{ talk.title }}</a>
        </p>
        <h4 class="date">{{ talk.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- Type -->
  <section class="posts">
    <h2>Typography</h2>
    {% for type in site.data.type %}
      <div class="post">
        <p>
          <a href="{{ type.url }}" target="_blank">{{ type.title }}</a>
        </p>
        <h4 class="date">{{ type.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <!-- UX -->
  <section class="posts">
    <h2>UX</h2>
    {% for ux in site.data.ux %}
      <div class="post">
        <p>
          <a href="{{ ux.url }}" target="_blank">{{ ux.title }}</a>
        </p>
        <h4 class="date">{{ ux.author }}</h4>
      </div>
    {% endfor %}
  </section>

  <hr>

  <p class="contact">Cheers!</p>

</section>
