<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
  <meta name="Copyright" content="Copyright Pedro Carmo 2014. All Rights Reserved.">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/resources/assets/main.css">
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/vdp7mxz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
