html,
body {
  background: #f4efdf; }

::selection {
  background: #f4efdf;
  color: #383838; }

h1 {
  text-align: center;
  font-size: 45px;
  margin-top: -25px; }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 80px;
      margin-top: -45px; } }

h2 {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-left: -30px; }

p {
  font-family: menlo, monospace;
  font-size: 14px; }
  @media screen and (min-width: 700px) {
    p {
      font-size: 16px; } }
